<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>


<header th:fragment="header" >

    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-white active h5" th:href="@{/}">Shopping List App</a>
        <a th:if="${@currentUser.isLogged()}" class="nav-link text-white active h5" th:href="@{/products/add}">Add Product</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${!@currentUser.isLogged()}">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/users/login}">Login</a>
                </li>

                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/users/register}">Register</a>
                </li>
                </th:block>

                <th:block th:unless="${!@currentUser.isLogged()}">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/users/logout}">Logout</a>
                </li>
                </th:block>
            </ul>

        </div>
    </nav>
</header>


</body>
</html>