<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bogdan Lozev </title>
    <style>
        h1 {
            color: aliceblue;
            text-align: center;

        }
        h2 {
            color: aliceblue;
            text-align: center;
        }
        .center{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #b8b9d0;
            padding: 10px;
        }
        body {
            background-image: url('../static/img/cosmos.jpg');
        }
    </style>
</head>
<body>
<div class="center">
<h1>Welcome to personal webSite of Bogdan Lozev!</h1>
    <h2> This page is under construction! </h2>
    <h1>COMING SOON ! </h1>
</div>
</body>
</html>