<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изненада</title>
<!--    <link rel="stylesheet" href="../static/css/kissCss.css">-->
    <style>

        h1 {
            color: #172582;
            text-align: center;
            position: center;
        }
        .center{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            padding: 10px;
        }

        body {
            background-image:url("../static/img/kiss-love-flower.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body >
<div class="center" >
<h1>Хей МУЦУН &#128536 !</h1>
    <img src="https://c.tenor.com/sQCzvx3U2J8AAAAi/milk-and-mocha.gif">

</div>


</body>
</html>